body {
  font-family: Arial, Helvetica, sans-serif;
  background: linear-gradient(to right,rgb(40, 40, 219),rgb(245, 85, 189));
  font-weight: bold;
  width: 100%;
  height: 100%;
  }
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .player{
    height: 100%;
    display: flex;
    align-items: center ;
    flex-direction: column;
    justify-content: center;
}
  .wrapper{
    border: 1px solid transparent;
    padding: 15px;
    background-color: #eee;
    height: 600px
    }
  
  .details {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  }
  
  .imagem {
  margin: 25px;
  height: 200px;
  width: 200px;
  border:2px solid 	#FFFAFA;
  background-position: center;
  border-radius: 50%;
  
  }
  
  .tocando {
  font-size: 1rem;
  }
  
  .musica_nome {
  font-size: 25px;
  }
  
  .artista {
  margin-top: 5px;
  font-size:20px;
  }
  
  .buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 20px;
  margin-right: 10px;
  font-size: 15px;
  }
  .active{
   color: #0e0e0f;
  }
  
  .voltar,
  .playpause-track,
  .prev-track,.botao-pause,.Aleatorio,
  .next-track {
  padding: 25px;
  opacity: 0.8;
  transition: opacity .2s;
  }
  
  .voltar:hover,
  .playpause-track:hover,
  .prev-track:hover,
  .next-track:hover {
  opacity: 1.0;
  }
  
  .slider_container {
  display: flex;
  justify-content: center;
  align-items: center;
  }
  
  .seek_slider, .volume_slider {
  height:10px;
  
  }
  
  .seek_slider:hover,
  .volume_slider:hover {
  opacity: 1.0;
  }
  
  .seek_slider {
  width: 60%;
  }
  
  .volume_slider {
  width: 30%;
  }
  
  .tempo_inicial,
  .tempo_total {
  padding: 10px;
  }
  .botao-pause{
    display: none;
  }
  
  i.fa-volume-down,
  i.fa-volume-up {
  padding: 10px;
  }
  
  i,
  i.fa-play-circle,
  i.fa-pause-circle,
  i.fa-step-forward,
  i.fa-step-backward,.Aleatorio
  p {
  cursor: pointer;
  }
  
  .rotate {
      animation: rotation 8s infinite linear;
  }
  @keyframes rotation {
      from {
        transform: rotate(0deg);
      }
      to {
        transform: rotate(359deg);
      }
  }
  
  .playlist {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 100%;

  }
  
  .playlist .entry {
    display: flex;
    align-items: start;
    margin-bottom: 10px;
    margin-top: 20px;
  }
  
